* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.6;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: normal;
    font-size: 3.5em;
    line-height: 1.2;
    padding-bottom: 20px;
}

h3 {
    font-weight: bold;
    font-size: 6.5em;
    line-height: 1;
}

h4 {
    font-weight: bold;
    font-size: 2em;
}

/* Navigation */
.nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #F1E7D0;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.08);
}

.nav img {
    max-height: 40px;
    width: auto;
}

/* Page setup */
.karo-page-setup {
    margin-bottom: 160px;
}

/* Hero section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;
    padding-left: 5vw;
}

.textbox {
    max-width: 40vw;
    padding: 5vh 0;
}

.textbox.hero {
    font-size: 3.25em;
    line-height: 2em;
}

.textbox.right {
    padding-right: 6vw;
}

.textbox.left {
    padding-left: 6vw;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 160px;
    font-size: 1.2em;
}

.image-50 {
    max-width: 58vw;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
    overflow: hidden;
}

/* Testimonials section */
.testimonials {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    min-height: 400px;
    padding: 20px;
    margin-bottom: 160px;
}

.testimonial-carousel {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.testimonial-card {
    display: none;
    background-color: #77625C;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.testimonial-card.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-text {
    font-size: 1.8em;
    color: white;
    font-weight: 100;
    margin-bottom: 10px;
}

.testimonial-author {
    color: white;
    text-align: right;
}

.carousel-controls {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    margin-left: 10px;
    gap: 10px;
}

.prev-btn,.next-btn {
    background-color: #77625C;
    color: white;
    border: none;
    padding: 10px 13px;
    cursor: pointer;
    border-radius: 100px;
}

.prev-btn:hover,.next-btn:hover {
    background-color: #040F0F;
    color: #77625C;
}

.footer {
    display: flex;
    max-height: 45vh;
    background-color: #040F0F;
    background-blend-mode: darken;
    color: #FFFAEE;
    overflow: hidden;
    justify-content: center;
}

.footer-logo {
    display: flex;
    font-family: 'syne', sans-serif;
    font-size: 30rem;
    font-weight: 900;
    kerning: -5%;
    text-align: center;
    justify-content: center;
    line-height: 1;
}

/* Purchase section */
.purchase {
    background-color: #F1E7D0;
    background-blend-mode: multiply;
    padding: 40px;
    margin: 20px;
    display: flex;
    max-height: 80vh;
}

.purchase-info {
    max-width: 50%;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.purchase-bottom {
    display: flex;
    flex-direction: column;
}

.purchase-subhead {
    font-size: .8em;
    padding-bottom: 20px;
}

.price-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Button styles */
button {
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    font-size: 1.2em;
    border: none;
    color: #E4C1F9;
    background-color: #040F0F;
    padding: 15px;
    transition: all 0.3s ease;
}

button:hover {
    color: #040F0F;
    background-color: #E4C1F9;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFAEE;
    z-index: -1;
    filter: blur(1px);
}